/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a2e;
    color: #f1c40f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

header {
    top: 0;
    background-color: #0f0f1e;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav a {
    color: #d4af37;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

}

nav a:hover {
    color: #f1c40f;
}

/* Style for the Log In button in the navigation */
.login-button {
    padding: 8px 15px;
    background-color: #d4af37;
    color: #1a1a2e;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #b8860b;
}


.header-content {
    text-align: center;
    padding: 40px;
}

.header-content h1 {
    font-size: 3rem;
    margin: 0;
}

.header-content p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.live-price-ticker {
    background-color: #0f0f1e;
    color: #f1c40f;
    padding: 10px 0;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.ticker-container {
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.ticker-content {
    display: inline-flex;
    animation: ticker-scroll 60s linear infinite;
}

.ticker-item {
    display: inline-block;
    padding: 0 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #caba87;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Section Styles */
section {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

section h2 {
    text-align: center;
    color: #d4af37;
    margin-bottom: 30px;
    font-size: 2rem;
}

.performance-report img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.performance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #d4af37;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #1e1e2f;
    color: #f1c40f;
}

.performance-table thead {
    background-color: #d4af37;
    color: #1a1a2e;
}

.performance-table th,
.performance-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #f1c40f;
}

.performance-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.performance-table tbody tr:nth-child(odd) {
    background-color: #2a2a3c;
}

.performance-table tbody tr:nth-child(even) {
    background-color: #1e1e2f;
}

.performance-table tbody tr:hover {
    background-color: #3a3a4d;
    color: #d4af37;
    transition: background-color 0.3s ease-in-out;
}

.performance-table tbody td {
    border-right: 1px solid #f1c40f;
}

.performance-table tbody tr:last-child td {
    border-bottom: none;
}

.performance-table tbody td:last-child {
    border-right: none;
}


.calculator-section {
    padding: 50px 0;
    background-color: #0f0f1e;
    text-align: center;
}

.contact-section {
    padding: 50px 0;
    background-color: #1a1a2e;
    text-align: center;
}

.contact-section p {
    font-size: 1.2rem;
    color: #f1c40f;
}

.contact-section a {
    color: #d4af37;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-section a:hover {
    color: #f1c40f;
}

/* Calculator Section Styles */
.calculator-container {
    background-color: #0f0f1e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #f1c40f;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #f1c40f;
    background-color: #1e1e2f;
    color: #f1c40f;
    outline: none;
}

.calculate-button {
    width: 100%;
    background-color: #d4af37;
    color: #1a1a2e;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculate-button:hover {
    background-color: #b8860b;
}

.result-container {
    margin-top: 25px;
    text-align: center;
    font-size: 1.3em;
    color: #d4af37;
}

.chart-container {
    margin-top: 25px;
    height: 300px;
    width: 100%;
}

.comparison-container {
    margin-top: 40px;
    background-color: #0f0f1e;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d4af37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.comparison-table {
    width: 100%;
    color: #f1c40f;
    border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
    border: 1px solid #d4af37;
    padding: 10px;
    text-align: center;
}

/* Progress Bar */
.progress-bar {
    margin-top: 15px;
    background-color: #f1c40f;
    height: 5px;
    width: 0;
    transition: width 1.5s ease-in-out;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background-color: #0f0f1e;
    color: #f1c40f;
}

/* Media Queries for Mobile */
@media screen and (max-width: 768px) {
    .header-content h1 {
        font-size: 2rem;
    }

    section {
        padding: 20px;
    }

    .team-member {
        width: calc(100% - 40px);
    }

    .calculator-container {
        width: calc(100% - 40px);
        max-width: 300px;

    }


    nav {
        flex-wrap: wrap;
        gap: 30px;
        font-size: small;
    }
}
